/* lato-300 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('fonts/lato-300.woff2') format('woff2');
}

/* lato-300italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local(''),
       url('fonts/lato-300-italic.woff2') format('woff2');
}

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('fonts/lato-400.woff2') format('woff2');
}

/* lato-italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('fonts/lato-400-italic.woff2') format('woff2');
}

:root {
	/* Hauptfarben - für guten Inhalt */
	--prb-schwarz: #252525;
	--prb-dunkelgrau: #5C5C5C;
	--prb-hellgrau: #D9D9D9;
	--prb-eierschale: #E5E2CC;
	--prb-rot: #C62828;

	/* Zusatzfarben - für Spezielles */
	--prb-blau: #006098;
	--prb-gruen: #006E3A;
	--prb-braun: #644438;
	--prb-gelb: #FFCC00;
	--prb-pink: #F10081;
}

body {
	font-family: "Lato", sans-serif;
	font-weight: 300;
	color: var(--prb-schwarz);
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b,
th,
summary {
	font-family: "Lato", sans-serif;
	font-weight: 400;
}